body	{
    padding: 20px 0;
}
#wrapper    {
    border: solid 1px #ddd;
}
#header	{
    padding-top: 5px;
    height: 100px;
}
#header div {
    background-color: #ff0;
}
#logo	{
    height: 95px;
}
#nav	{
    width: 720px;
    margin-top: 65px;
    height: 30px;
}
#mast	{
    height: 280px;
}
#mast div   {
    height: 275px;
    background-color: #ff0;
}
#content-body	{
    height: 300px;
}
#content-body div   {
    background-color: #ff0;
}
#contact-div	{
    width: 275px;
}
#sidebar    {
    width: 275px;
}
#footer	{
    height: 50px;
    background-color: #ff0;
}
